{
  "parser": "babel-eslint",
  "extends": ["airbnb-base"],
  "env": {
    "browser": true
  },  
  "rules": {
    "indent": ["error", 4],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "linebreak-style": 0,
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true,
        "allowTaggedTemplates": true
      }
    ],
    "comma-dangle": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "prefer-spread": 0,
    "no-param-reassign": 0,
    "no-bitwise": 0,
    "import/no-mutable-exports": 0,
    "import/extensions": 0,
    "no-continue": 0
  }
}
