{
  "parser": "babel-eslint",
  "extends": ["airbnb-base"],
  "rules": {
    "indent": ["error", 4],
    "linebreak-style": 0,
    "comma-dangle": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "no-multi-assign": 0,
    "prefer-template": 0,
    "prefer-spread": 0,
    "no-mixed-operators": 0,
    "max-len": 0,
    "guard-for-in": 0,
    "no-restricted-syntax":0,
    "new-cap":0
  },
  "globals": {
    "performance": true,
    "arrayView": true,
    "Image": true,
    "window": true,
    "navigator": true,
    "document": true,
    "cordova": true,
    "XMLHttpRequest": true,
    "AndroidFullScreen": true
  }, 
}