package systems

templ StatsView() {
	<div id="stats">
		<div id="stats-renderer" class="stats-item"><span id="stats-renderer-text"></span></div>
		<div id="stats-basic" class="stats-item"><span id="stats-basic-text"></span></div>
		<div id="stats-scene" class="stats-item"><span id="stats-scene-text"></span></div>
		<div id="stats-pos" class="stats-item"><span id="stats-pos-text"></span></div>
	</div>
}
