package systems

templ StatsView() {
	<div id="stats">
		<div id="stats-renderer" ref="rendererItem" class="stats-item"><span id="stats-renderer-text" ref="renderer"></span></div>
		<div id="stats-basic" ref="basicItem" class="stats-item"><span id="stats-basic-text" ref="basic"></span></div>
		<div id="stats-scene" ref="sceneItem" class="stats-item"><span id="stats-scene-text" ref="scene"></span></div>
		<div id="stats-pos" ref="posItem" class="stats-item"><span id="stats-pos-text" ref="pos"></span></div>
	</div>
}
