package systems

templ VirtualInputView() {
	<div id="input">
		<div id="joystick-base"></div>
		<div id="joystick-stick"></div>
		<div id="btn-shoot" class="action-btn">
			<svg viewBox="0 0 24 24">
				<path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"></path>
			</svg>
		</div>
		<div id="btn-jump" class="action-btn">
			<svg viewBox="0 0 24 24">
				<path d="M12 4l-8 8h5v8h6v-8h5z"></path>
			</svg>
		</div>
	</div>
}
